body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#info {
    display: flex;
    flex-direction: column;
    justify-content: space-around; /* Optional: Distributes space between items */
    align-items: center;
    flex-direction: row;
}

#scores {
    display: flex;
    justify-content: space-around; /* Optional: Distributes space between items */
    align-items: center;
}

#Computer,
#Human  {
    display: flex;
    flex-direction: row;
}